{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    #instruction {
        display: inline;
        font-size: 1.3em;
        position: relative;
        left: 9em;
        top: 0.5em;
    }

    /*form#fui {
        position: absolute;
        top: 8em;
        left: 60em;
      }*/
</style>
<div class="container m-auto">
    <div class="row m-auto">
        <div class="col-6 col-sm-12 m-auto">
            <h1>Form Section</h1>
            <form id='fui' method="post" action="{% url 'basics:create' %}">
                {% csrf_token %}

                <p>
                    <label for="image">Choose Design : </label>
                    <input id="image" type="file" name="custom_design">
                </p>

                <p>
                    <label for"tshirtColor">Select T-shirt color: </label>
                    <select class="browser-default custom-select" id="tshirtColor" name="color">
                        <option value="white" selected="selected">White</option>
                        <option value="black">Black</option>
                        <option value="pink">Pink</option>
                        <option value="green">Green</option>
                        <option value="red">Red</option>
                    </select>
                </p>

                <p>
                    <label for"tshirtSize">Select Size: </label>
                    <select class="browser-default custom-select" id="tshirtColor" name="size">
                        <option value="L" selected="selected">LARGE</option>
                        <option value="S">SMALL</option>
                        <option value="XL">XL</option>
                        <option value="2XL">2XL</option>
                        <option value="3XL">3XL</option>
                        <option value="4XL">4XL</option>
                    </select>
                </p>

                <p>
                    <label for="backgroundColor">Select background color: </label>
                    <select class="browser-default custom-select" id="backgroundColor" name="bgcolor">
                        <option value="white" selected="selected">White</option>
                        <option value="black">Black</option>
                    </select>
                </p>

                <p>
                    <label for="shape">Circles or squares?</label>
                    <select class="browser-default custom-select" id="shape" name="shape">
                        <option value="none" selected="selected">Neither</option>
                        <option value="circles">Circles</option>
                        <option value="squares">Squares</option>
                    </select>
                </p>

                <p>
                    <label for="foregroundColor">Select text color: </label>
                    <select class="browser-default custom-select" id="foregroundColor" name="fgcolor">
                        <option value="white">White</option>
                        <option value="black" selected="selected">Black</option>
                    </select>
                </p>

                <p>
                    <label for="text">Pick a text: </label>
                    <select class="browser-default custom-select" id="text" name="text">
                        <option value="Don't give up on your dream. Keep sleeping.">Don't give up on your dream.
                            Keep
                            sleeping.</option>
                        <option value="I'm going to stand outside. So if anyone asks, I'm outstanding."
                            selected="selected">I'm going to stand outside. So if anyone asks, I'm outstanding.
                        </option>
                        <option
                            value="Chocolate comes from cocoa, which is a tree. that makes it a plant...so chocolate is a salad">
                            Chocolate comes from cocoa, which is a tree. that makes it a plant...so chocolate is a
                            salad
                        </option>
                        <option value="I'm  not weird. I am limited edition.">I'm not weird. I am limited edition.
                        </option>
                        <option value="Of course I talk to myself. Sometimes I need expert advice">Of course I talk
                            to
                            myself. Sometimes I need expert advice</option>
                        <option value="If people are talking about you behind your back, THEN JUST FART!">If people
                            are
                            talking about you behind your back, THEN JUST FART!</option>
                        <option value="After Tuesday, even the calender goes W T F">After Tuesday, even the calender
                            goes W T F</option>

                    </select>

                </p>

                <p>
                    <label for="exampleFormControlTextarea4">Kindly give Instructions if any ... </label>
                    <textarea name="instruction" class="form-control" id="exampleFormControlTextarea4"
                        rows="4"></textarea>
                </p>

                <p>
                    <input type="button" class='btn btn-primary' id="previewButton" value="Preview">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </p>
            </form>
        </div>
        <div class="col-6 col-sm-12 m-auto ">
            <h1>Preview Section</h1>
            <p id="instruction"><strong>Please first select the style, and then press "preview" to view your
                    t-shirt</strong></p>
            <canvas width="1000" height="600" id="tshirtCanvas">Please upgrade your browser to design your own
                shirt!</canvas>

        </div>
    </div>
</div>
<!-- <div class="container-fluid">
    <!--Or upload quotes from the following website. 
        <script src="http://tweetshirt.wickedlysmart.com/?callback=updateText"></script>
        HOW TO USE:
        1. Uncomment from js file to use:
        2. Delete the options of the "text" selection
    -->
</div> -->




<script>
    window.onload = function () {
        var previewButton = document.getElementById("previewButton");
        previewButton.onclick = previewHandler;
    };

    function previewHandler() {
        var canvas = document.getElementById("tshirtCanvas");
        var context = canvas.getContext("2d");
        drawTshirt(canvas, context);
        fillBackgroundColor(canvas, context);

        var selectObj = document.getElementById("shape");
        var index = selectObj.selectedIndex;
        var shape = selectObj[index].value;
        if (shape !== "none") {
            for (var i = 0; i < 20; i++) {
                drawShape(canvas, context, shape);
            }
        };

        drawText(canvas, context);
        drawPic(canvas, context);
    }

    function drawTshirt(canvas, context) {
        var selectObj = document.getElementById("tshirtColor");
        var index = selectObj.selectedIndex;
        var tshirtColor = selectObj[index].value;
        context.fillStyle = tshirtColor;
        context.lineWidth = 3;
        context.beginPath();
        context.moveTo(450, 30);
        context.quadraticCurveTo(500, 100, canvas.width - 450, 30);
        context.lineTo(canvas.width - 200, 75);
        context.lineTo(canvas.width - 100, 200);
        context.lineTo(canvas.width - 175, 250);
        context.lineTo(canvas.width - 200, 230);
        context.lineTo(canvas.width - 200, canvas.height - 30);
        context.lineTo(200, canvas.height - 30);
        context.lineTo(200, 230);
        context.lineTo(175, 250);
        context.lineTo(100, 200);
        context.lineTo(200, 75);
        context.closePath();
        context.stroke();
        context.fill();
    };

    function fillBackgroundColor(canvas, context) {
        var selectObj = document.getElementById("backgroundColor");
        var index = selectObj.selectedIndex;
        var bgColor = selectObj[index].value;

        context.fillStyle = bgColor;
        context.fillRect(250, 175, canvas.width - 500, 200);
        context.strokeStyle = "black";
        context.strokeRect(250, 175, canvas.width - 500, 200);
    };

    function drawShape(canvas, context, shape) {
        var isOutofCanvas = true;
        while (isOutofCanvas) {
            var shapeWidth = 30;
            var w = Math.floor(Math.random() * shapeWidth);
            var x = Math.floor(Math.random() * (canvas.width - 500) + 250);
            var y = Math.floor(Math.random() * 200 + 175);
            isOutofCanvas = isBeyondCanvas(shapeWidth, x, y, canvas);
        }

        context.fillStyle = "lightblue";

        if (shape === "circles") {
            context.beginPath();
            context.arc(x, y, w, 0, degreeToRadians(360), true);
            context.fill();
        } else if (shape === "squares") {
            context.fillRect(x, y, w, w);
        }
    };

    function drawText(canvas, context) {
        var selectObj = document.getElementById("foregroundColor");
        var index = selectObj.selectedIndex;
        var fgColor = selectObj[index].value;
        var selectText = document.getElementById("text");
        var index = selectText.selectedIndex;
        var text = selectText[index].value;

        context.fillStyle = fgColor;
        context.font = "bold 1em sans-serif";
        context.textAlign = "left";
        if (text.length > 50) {
            var textArray = splitIntoLines(canvas, text);
            for (var i = 0; i < textArray.length; i++) {
                context.fillText(textArray[i], 280, 240 + (i * 25));
            }
        } else {
            context.fillText(text, 280, 265);
        }
    };

    function drawPic(canvas, context) {
        var pic = new Image();
        pic.src =
            "http://vignette3.wikia.nocookie.net/southpark/images/9/9e/Eric_cartman.png/revision/latest?cb=20161207153635";
        pic.onload = function () {
            context.drawImage(pic, canvas.width - 250 - 110, 300, 80, 70);
        }
    };

    /*TO USE QUOTES FROM THE WEBSITE, UNCOMMENT THIS
    function updateText(textsArray) {
        var textSelection = document.getElementById("text");
    
        for (var i = 0; i < textsArray.length; i++) {
            var textObj = textsArray[i];
            var option = document.createElement("option");
            option.text = textObj.text;
            option.value = option.text.replace("\"", "'");
            textSelection.options.add(option);
        }
    
        textSelection.selectedIndex = 0;
    }
    */

    //helper functions
    function degreeToRadians(degrees) {
        return (degrees * Math.PI) / 180;
    }

    function isBeyondCanvas(shapeWidth, x, y, canvas) {
        if ((x - shapeWidth) > 250 && (x + shapeWidth) < (canvas.width - 250) &&
            (y - shapeWidth) > 175 && (y + shapeWidth) < 375) {
            return false;
        } else {
            return true;
        }
    }

    function splitIntoLines(canvas, text) {
        //split a text longer than 50 into an array. Mind the space.
        var textArray = [];
        var interval = 50;
        var space1 = text.indexOf(" ", interval);
        textArray[0] = text.substring(0, space1);
        if (text.substring(space1) > interval) {
            var space2 = text.indexOf(" ", interval);
            textArray[1] = text.substring(space1, space2);
            textArray[2] = text.substring(space2);
        } else {
            textArray[1] = text.substring(space1);
        }
        return textArray;
    }
</script>


{% endblock content %}